body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: #1c1c1c;
    box-sizing: border-box;
}
h1, h2, h3 {
    margin: 0;
    padding: 0;
}
.header {
   padding: 75px 0 70px 0;
}
.container {
    width: 1170px;
    /* background-color: #aeaeae; */
    margin: 0 auto;
}

.site-heading {
    margin: 0;
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 1.5;
    margin-bottom: 49px;
}

.slogan {
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 0.33px;
    margin-bottom: 20px;
}

.slogan p {
    margin: 0;
}

.social-icons a {
    margin-right: 26px;
}

.about-me {
    background-color: #e6eff6;
    padding: 78px 0 68px 0;
}

.row-space-between {
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
    margin-top: 7px;
}
.about-me-text {
    flex-basis: 40%;
}
.about-me-text p {
    margin: 0;
    font-size: 28px;
    font-weight: 300;
    letter-spacing: 0.3px;
    line-height: 1.6;
}
.about-me-photo {

}

.about-me .title-2 {
    /* margin: 0; */
    margin-bottom: 17px;
}
.about-me .title-3 {
    margin-bottom: 10px;
    margin-top: 60px;
}

.title-2 {
    font-size: 40px;
    font-weight: 700;
}

.title-3 {
    font-size: 28px;
    font-weight: 700;
}
.about-me-text ul {
    font-size: 28px;
    font-weight: 300;
    margin: 0;
    padding: 0;
    padding-left: 30px;
    list-style-type: none;
    letter-spacing: 0.3px;
}
.about-me-text li {
    margin-bottom: 10px;
    position: relative;
}
.about-me-text li::before {
    content: "—";
    position: absolute;
    top 0;
    left: -30px;
}

.portfolio {
    padding-top: 75px;
    padding-bottom: 50px;
}
.portfolio .title-2 {
    text-align: center;
    margin-bottom: 78px;
}

/* ***********************КАРТОЧКИ*********************** */
.cards-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
.card {
    margin-bottom: 130px;
}
.card:last-child, .card:nth-last-child(2) {  /* Убрали маргин у последней и предпоследней карточки */
    margin: 0;
}

.card-img {
    margin-bottom: 15px;
}
.card-title {
    margin-left: 22px;
    margin-bottom: 9px;
    font-size: 34px;
    font-weight: 700;
    letter-spacing: 0.4px;
}
.card-desc {
    margin-left: 23px;
    margin-bottom: 18px;
    font-size: 28px;
    font-weight: 300;
}
.card-link {
     font-size: 16px;
     font-weight: 300;
     font-style: italic;
     margin-left: 22px;
}

.footer {
    padding-top: 33px;
    padding-bottom: 95px;
}
.cta {
    font-size: 36px;
    font-weight: 100;
}
.cta strong {
    display: block;  /* Костыль чтобы от Сронга отодвинуть нижний текст )) */
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 25px;
}
.cta a {
    color: #6496e5;
    text-decoration: underline;
}
